@model PreScripds.UI.Models.DepartmentInOrgViewModel
@using PreScripds.Domain;
@using PreScripds.UI.Common;
@{
    ViewBag.Title = "Department-Organization";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
<div class="col-md-12 blackBg">
    @using (Html.BeginForm("DepartmentInOrg", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()<br />
        <h3><span style="color:white;">Department-Organization</span><hr /> </h3>
        <div class="row">
            <div class="col-md-11 col-sm-6 col-xs-11">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Departments</label>
                    <div class="list-group">
                        @Html.ListBoxFor(x => x.Departments, Model.Department.ToSelectListItems(model => model.Id.ToString(), model => model.DepartmentName), new { @class = "form-control" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>
            </div>
        </div>
        @*@Html.MessageDialogRedirect(Model.Message, "AddRole", "Dashboard", true)*@
    }

</div>
