@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-12 blackBg">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="FirstName">First Name*</label>
              
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="LastName">Last Name*</label>
               
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="MiddleName">Middle Name</label>
               
            </div>
        </div>
    </div>
</div>
