@{
    ViewBag.Title = "OrganizationDocs";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

<main class="wrap group">
    <aside class="sidebar" style="background-color:#11171c;border-radius:7%">
        <div class="my-info">
            <img src="images/cj.jpg" alt="Chris Johnson" class="portfolio-image">
            <h1>Organization Name</h1>
            <h2>Organization Address</h2>
        </div>
    </aside>
    <div style="float:left;width:80%;padding:1%;">
        @using (Html.BeginForm("AddOrgDoc", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.Partial("Partials/_OrganizationDocuments")
        }
    </div>

    <div class="content">
        <div class="portfolio-item group first">
            <div class="portfolio-info">
                <div class="date">7 Nov 2013</div>
                <div class="description">
                    Free PSD template for startups, small businesses and basically for everyone liking good design.
                </div>
                <div class="meta">
                    <p><strong>Document Name:</strong> Despreneur</p>
                    <p><strong>Delete:</strong> Action</p>
                </div>
            </div>
            <div class="portfolio-image">
                <img src="images/portfolio/free-psd-templates.jpg" alt="Free PSD Templates">
            </div>
        </div>
        <div class="portfolio-item group">
            <div class="portfolio-info">
                <div class="date">7 Nov 2013</div>
                <div class="description">
                    Free PSD template for startups, small businesses and basically for everyone liking good design.
                </div>
                <div class="meta">
                    <p><strong>Client:</strong> Despreneur</p>
                    <p><strong>Tags:</strong> Web Design</p>
                </div>
            </div>
            <div class="portfolio-image">
                <img src="images/portfolio/moody-shot.jpg" alt="Moody Shot">
            </div>
        </div>
        <div class="portfolio-item group">
            <div class="portfolio-info">
                <div class="date">7 Nov 2013</div>
                <div class="description">
                    Free PSD template for startups, small businesses and basically for everyone liking good design.
                </div>
                <div class="meta">
                    <p><strong>Client:</strong> Despreneur</p>
                    <p><strong>Tags:</strong> Web Design</p>
                </div>
            </div>
            <div class="portfolio-image">
                <img src="images/portfolio/new-york.jpg" alt="New York">
            </div>
        </div>


        <div class="portfolio-item group loading-wrap" style="display:none">
            <div class="portfolio-info">
            </div>
            <div class="portfolio-image">
                <div class="loading">
                    <img src="~/Images/loading.png" alt="Loading" class="rotate">&nbsp;Loading...
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Scripts/app.js"></script>
<link href="~/Content/Timeline/style.css" rel="stylesheet" />