@model PreScripds.UI.Models.UserInRoleViewModel
@using PreScripds.UI.Common;
@using PreScripds.Domain;
@using PreScripds.Infrastructure;
@{
    ViewBag.Title = "UserInRole";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
<div class="col-md-12 blackBg">
    @using (Html.BeginForm("UserInRole", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()<br />
        <div class="validation-summary-errors" style="display:none" id="emailExistsDiv">
            <ul>
                <li class="success" id="userNameExists">
                </li>
            </ul>
        </div>
        <h3><span style="color:white;">User-Role</span><hr /> </h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Role</label>
                    @Html.DropDownListFor(x => x.RoleId, Model.Roles.ToSelectListItems(model => model.Id.ToString(), model => model.RoleName), new { @class = "form-control" })


                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="RoleName">Module</label>
                    <div class="list-group">

                        @Html.ListBoxFor(x => x.UsersSelected, Model.Users.ToSelectListItems(model => model.Id.ToString(), model => ("{0} .{1}{2}".ToFormat(model.FirstName, model.MiddleName, model.LastName))), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 buttons">
                <button type="submit" class="btn btn-warning pull-right" value="Save">Save</button>

                @if (Model.UserInRoleViewModels.IsCollectionValid())
                {
                    <button type="submit" name="buttonType" class="btn btn-warning pull-right" value="Next">Next</button>
                }
            </div>
        </div>
        @*@Html.MessageDialogRedirect(Model.Message, "AddPermission", "Dashboard", true)*@
    }

</div>
