
<div class="container body-content">
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year - PreScripds
            <a data-toggle="modal" class="opentac pull-right" title="Privacy Policy" href="~/Views/Static/PrivacyPolicy.html" data-target="#">Privacy Policy </a>
            <a data-toggle="modal" title="Terms and Conditions" class="opentac pull-right" href="~/Views/Static/TermsConditions.html" data-target="#">Terms and Conditions | &nbsp;</a>
        </p>

    </footer>
</div>