
<div class="well bs-sidebar affix" id="sidebar" style="background-color:black; border:none">
    <a class="toggleMenu" href="#"><img src="~/Images/nav.png" alt="" /></a>
    <ul class="nav nav-pills nav-stacked">
        <li style="background-color:#eb1478;border: 2px solid pink;">
            <a href="#" style="color:white"><i><img src="~/Images/settings.png" alt="" /></i>Settings</a>
        </li>
        <li class="active"><a href="#"><i><img src="~/Images/user.png" alt="" /></i>Account</a></li>
        <li><a href="#"><i><img src="~/Images/mail.png" alt="" /></i>Messages <span class="messages">5</span></a></li>
        <li><a href="#"><i><img src="~/Images/favourite.png" alt="" /></i>Favorites</a></li>

        @*@if (PreScripds.UI.Common.SessionContext.CurrentUser != null && PreScripds.UI.Common.SessionContext.CurrentUser.IsAdmin == 1)
            {
                <li><a href="#"><i><img src="~/Images/favourite.png" alt="" /></i>Admin</a></li>
            }*@
    </ul>
</div>
<div class="clear"></div>


