@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}
<div class="header_top">
    <h2><span>@ViewBag.Title</span></h2>
</div>
<div class="row">
    <div class="col-md-8 blackBg">
        @Html.Partial("_SetPasswordPartial")
    </div>
</div>

