@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="jumbotron">
    <h1 class="text-danger">Oops!</h1>
    <h2 class="text-danger">Something must have broken. Goto @Html.ActionLink("Home Page", "Index")</h2>
</div>