@model PreScripds.UI.Models.OrganizationDocumentViewModel


<h3>Upload Documents </h3>
<hr />
<div class="col-md-4 col-sm-6">
    <div class="form-group">
        <label class="control-label" for="DocumentName">Document Name</label>
        @Html.TextBoxFor(m => m.OrganizationDocumentName, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-4 col-sm-6">
    <div class="form-group">
        <label class="control-label" for="LastName">Upload Document</label>
        <input type="file" id="Document" name="Document" />
    </div>
</div>
<div class="col-md-4 col-sm-6">
    <div class="form-group">
        <label class="control-label" for="LastName">Document Description</label>
        @Html.TextAreaFor(m => m.DocumentDescription, new { @class = "form-control" })
    </div>
</div>
<div class="col-md-4 col-sm-6">
    <div class="form-group">
        <button type="submit" style="margin-top:5%" class="btn btn-warning pull-left" value="Add">Add</button>
    </div>
</div>


